What exactly is []?
-This  is list which contain no item in it you can say empty.As shown below

In [1]:
l=[]

In [3]:
type(l)

list

In [8]:
#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
spam=[1,5,6]
spam.append('hello') #by using append we can add hello in the list
spam #now hello is add in the list

[1, 5, 6, 'hello']

In [ ]:
#Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [1]:
#3. What is the value of spam[int(int('3' * 2) / 11)]?
spam= ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

In [2]:
#4. What is the value of spam[-1]?
spam[-1]

'd'

In [3]:
#5. What is the value of spam[:2]?
spam[:2]

['a', 'b']

In [4]:
#Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
#6. What is the value of bacon.index('cat')?
bacon=[3.14,'cat',11,'cat',True]
bacon.index('cat') #it will show the index of first 'cat'

1

In [6]:
#7. How does bacon.append(99) change the look of the list value in bacon?
bacon.append(99) #it will add 99 at last of list
bacon

[3.14, 'cat', 11, 'cat', True, 99, 99]

In [7]:
#8. How does bacon.remove('cat') change the look of the list in bacon?
bacon.remove('cat') #it will remove the first occuring 'cat' that available in the bacon

In [8]:
bacon

[3.14, 11, 'cat', True, 99, 99]

In [9]:
#9. What are the list concatenation and list replication operators?
l1= [1,2,3] 
l2=[4,5,6]
l=l1+l2    #this is list concatenation means we can add two list to make one list
l

[1, 2, 3, 4, 5, 6]

In [10]:
l1*2  #this is list replication means we are making two copies of list and making it one list

[1, 2, 3, 1, 2, 3]

In [11]:
#10. What is difference between the list methods append() and insert()?
l=[1,2,5]          #here is a list
l.append('vivek')  #it will add 'vivek' at last of the list l
l

[1, 2, 5, 'vivek']

In [12]:
l=[2,5,6] #now it is time for insert operation
l.insert(2,'vivek') #insert will take two argument the first one is index and other one is the element which we want to add so it simply add the elment just before the index
l #as shown here

[2, 5, 'vivek', 6]

In [13]:
#11. What are the two methods for removing items from a list?
l=[3,4,5,3,5,2]
l.remove(3) #first is by using the remove it wil remove the first occurence of the number from list
l # aswe can see 3 is first occurence of 3 is removed

[4, 5, 3, 5, 2]

In [15]:
l=[4, 5, 3, 5, 2]
#l.pop(3) pop will remove using index as argument here 3 is index 
l[3] # this will give 5
l.pop(3)
l

[4, 5, 3, 2]

In [1]:
#12. Describe how list values and string values are identical.
s= 'Vivek Singh' #this is string
l=[9,8,7,6,5,4,3,2,1] #this is list
#both list and string store in squence

In [2]:
s[0]  #string save character in index same as list

'V'

In [3]:
l[0] #list save in index form also

9

In [5]:
#13. What's the difference between tuples and lists?
l=[6,4,3,9] #list
t=(2,4,3,7) #tuples
#list mutable means we can chage the elment in the list
#tuples are immutable

In [8]:
l[0]='virek' #here we are changing the element at zero index we can do that
l

['virek', 4, 3, 9]

In [9]:
t[0]='vivek' #we are doing same but we can't do  this

TypeError: 'tuple' object does not support item assignment

In [16]:
#14. How do you type a tuple value that only contains the integer 42?
t= (42,) #we can use simple bracket and insert any item to it as shown we have use this comma otherwise it will act like integer
t

(42,)

In [17]:
type(t)

tuple

In [54]:
#15. How do you get a list value's tuple form? How do you get a tuple value's list form?
l=[1,2,3,4,'jk']
[i for i in zip(l)] #in this way we can convert list values in types form

[(1,), (2,), (3,), (4,), ('jk',)]

In [55]:
t= (1,2,3) #in this way we can convert tuple values into list
t1=()
for i in t:
    t1= t1+([i],)
print(t1)

([1], [2], [3])

#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
-- A list can contain  ineger,list ,set,tuple,dictionary,string any of these written
l = [1,'strin',[1,2,3],{1,2,3},{a:'vivek, b:'singh},(2,3,4)]

#17. How do you distinguish between copy.copy() and copy.deepcopy()?
- As shown below

In [207]:
import copy

In [225]:
l= [[1,2,3,4],[5,4,6,7],[8,'v'],[6,7,8,9,0]] # nested list

In [226]:
l4= copy.copy(l) #making copy of list l or making another object which is same as l

In [227]:
l4 # same as l

[[1, 2, 3, 4], [5, 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [228]:
l4[1][0]='t'  #we chaning the nested object so

In [230]:
l4 #we changed the l4

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [229]:
l #same change happen in l

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [231]:
# but we cahnge the main object of list it will not replace
l2= copy.copy(l)

In [234]:
l2[1]='t'
l2

[[1, 2, 3, 4], 't', [8, 'v'], [6, 7, 8, 9, 0]]

In [235]:
l #but there is no change in the l list

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [236]:
#In case copy.deepcopy() the nested element will not change at all as in case of copy.copy()
l

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [237]:
l1=copy.deepcopy(l)

In [238]:
l1

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [239]:
l1[0][0]= 'vivek'

In [240]:
l1

[['vivek', 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]

In [241]:
l #as we can see no change in the orginal list

[[1, 2, 3, 4], ['t', 4, 6, 7], [8, 'v'], [6, 7, 8, 9, 0]]